@model Web.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Quantidade de países: @Model.QtdPais</h3>
</div>

<div class="text-center">
    <h3 class="display-4">Quantidade de estados: @Model.QtdEstados</h3>
</div>

<div class="text-center">
    <h3 class="display-4">Quantidade de amigos: @Model.QtdAmigos</h3>
</div>
